:root {
    --text-color: black;
    --bg-color: white;
    --aux-color: 
}

/* General styling */
body {
    font-family:'Nunito Sans', sans-serif;
    color: var(--text-color);
}

header {
    font-family: 'Halant', serif;
}
